body {
    background-image: url('twitter.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1500px;
    background-size: 100% 100%;
}

footer {
    background-color: black;
    margin-top: 5%;
    color: white;
    text-align: center;
    font-size: 20px;
}

h1 {
    color: Black;
    background-color: gold;
    opacity: 0.6;
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size-adjust: initial;
}

input:hover {
    background-color: rgb(179, 176, 176);
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: blue;
}

form {
    align-content: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    background: url('galaxy2.png') no-repeat;
    opacity: 0.64;
    border-style: double;
    border-color: whitesmoke;
    border-width: 7px;
    border-radius: 50px;
    font-size: 30px;
}

form:hover {
    background-color: gold;
}

form h2 {
    color: white;
    font-family: 'Lucida Sans';
    font-size: 20px;
    text-align: center;
}

form h2:hover {
    color: gray;
    font-size: 20px;
}

input {
    text-align: center;
    background-color: rgb(247, 247, 247);
    height: 50px;
    color: rgb(94, 92, 92);
    font-size: 20px;
    margin-top: 14%;
    margin-left: 17%;
    margin-right: 13%;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    border-color: red;
}

button:hover {
    background-color: rgb(128, 124, 122);
    border-color: green;
    border-width: 3px;
    border-radius: 24px;
    border-style: ridge;
}

button {
    text-align: center;
    margin-left: 119px;
    font-size: 27px;
    border-width: 3px;
    border-radius: 24px;
    margin-top: 10%;
    margin-bottom: 7%;
    margin-left: 35%;
    margin-right: 35%;
    border-style: ridge;
    border-color: magenta;
    margin
}

p {
    margin-left: 570px;
    color: black;
    font-family: cursive;
    font-size: 30px;
}

p {
    font-size: 40px;
    margin-top: 4%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}