<!DOCTYPE html>

<html>
    <head>
        
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title></title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        
       
        
    </head>
    <body >
    <h1 style = "background-color:gold;font-size:xx-large;text-align:center"><b>वेल्कम टु काले दाइको टुइट पसल</b></h1>
       <form method = 'POST'>
       
       <input type = 'text' placeholder = "Enter nepali word" name = 'word' style = "background-color:rgb(247, 247, 247);
       color:black;font-size:large; text-align:center;border-radius:20px;border-width:3px;border-style:solid;border-color:red;"
       onMouseOver = "this.style.color = 'green'"  onMouseOut = "this.style.color = 'black'"/><br>
       <button style="background-color:gray;color:black;text-align:center;font-size:large;margin-left:5%;margin-top:1%;
       font-family:cursive;border-radius:20px;border-width:3px;border-style:solid;border-color:green;"
        onMouseOver="this.style.color = 'lime'" onMouseOut = "this.style.color = 'black'"> Click me </button>
       </form>
        
      <p onMouseOver="this.style.color='#0F0'"
   onMouseOut="this.style.color='black'"> {{information}}</p>

<h4 style="background-color:black; color:white: font-size:x-large; color:white; text-align:center"> येहाबाट टुइट कपि गरेर टुइटरमा पोस्ट गरेको भेटाइयेमा यो साइट बनाउने मान्छेको 50 ओटा टुइट रिटुइट गर्नुपर्ने छ | <br>
        London-2 America Nepal <br>
        98******** <br>
        ********@gmail.com<br>
 </h4>

        
    </body>
</html>

   
