<!DOCTYPE html>

<html>
    <head>
        
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title></title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        
       
        <link rel = "stylesheet" href = "{{url_for('static',filename = 'style.css')}}">
        
    </head>
    <body>
    <h1><b>वेल्कम टु काले दाइको टुइट पसल</b></h1>
       <form method = 'POST'>
       
       <input type = 'text' placeholder = "Enter nepali word" name = 'word'><br>
       <button> Click me </button>
       </form>
     <p> {{information}}</p>

     <footer> येहाबाट टुइट कपि गरेर टुइटरमा पोस्ट गरेको भेटाइयेमा यो साइट बनाउने मान्छेको 50 ओटा टुइट रिटुइट गर्नुपर्ने छ | <br>
        London-2 America Nepal <br>
        98******** <br>
        ********@gmail.com<br>
        

     </footer>
    </body>


   